<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>App-Estacion | Login</title>
	<link rel="stylesheet" href="static/css/login.css">

</head>
<body>
	<h1>Inicio de Sesión</h1>
	<content>
		<form method="POST">
			<label for="user">Usuario</label><br>
			<input type="text" name="user" id="user"><br>
			<label for="pass">Contraseña</label><br>
			<input type="password" name="pass" id="pass"><br>
			<input type="submit" value="Acceder" name="btnLogin"><br>
			<a href="recovery">¿Olvidaste tu contraseña?</a><br>
			<a href="register">¿No tienes cuenta? Regístrate</a>
		</form>
	</content>
</body>
</html>
