<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>App-Estacion | Recuperar Cuenta</title>
	<link rel="stylesheet" href="static/css/login.css">

</head>
<body>
	<h1>Recuperación de cuenta</h1>
	<content>
		<form method="POST">
			<label for="user">Ingrese su correo electrónico</label><br>
			<input type="email" name="user" id="user"><br>
			<input type="submit" value="Enviar" name="btnRecovery">
		</form>
	</content>
</body>
</html>