<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>App-Estacion | Register</title>
	<link rel="stylesheet" href="static/css/login.css">

</head>
<body>
	<h1>Registrarse</h1>

	<content>
		<form method="POST">
			<label for="user">Email</label><br>
			<input type="text" name="user" id="user"><br>
			<label for="pass1">Contraseña</label><br>
			<input type="password" name="pass1" id="pass1"><br>
			<label for="pass2">Repita la contraseña</label><br>
			<input type="password" name="pass2" id="pass2"><br>
			<input type="submit" value="Registrarse" name="btnRegister">
			<a href="login">¿Ya tienes cuenta? Inicia sesión</a>

		</form>
	</content>
</body>
</html>