<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>App-Estacion | Cambiar Contraseña</title>
	<link rel="stylesheet" href="static/css/login.css">
</head>
<body>	
	<content>
		<h1>Reestablecimiento de contraseña</h1>
		<form method="post">
			<label for="pass1">Ingrese su nueva contraseña</label><br>
			<input type="password" name="pass1" id="pass1"><br>
			<label for="pass2">Repita la contraseña</label><br>
			<input type="password" name="pass2" id="pass2"><br>
			<input type="submit" value="Cambiar Contraseña" name="btnChange">
		</form>
	</content>
</body>
</html>